$color-primary: #fff;
$color-secondary: #ffbd5b;
$color-gray-light: #555;
$color-gray-medium: #444;
$color-gray-dark: #353535;
$color-gray-deep: #333;

$color-shadow: #00000060;
$shadow-size: 5px;
$shadow-down: $color-shadow 0 $shadow-size 4px;
$shadow-angle: $color-shadow $shadow-size $shadow-size 4px;

$navbar-height: 3rem;

$button-size: 4.5rem;

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#main_view {
    color: $color-primary;

    .navbar {
        background-color: $color-gray-deep;
        height: $navbar-height;
        line-height: $navbar-height;

        font-size: 1.4rem;
        font-weight: bold;
        padding: 0 1rem;

        box-shadow: $shadow-down;
    }

    .left_panel {
        height: calc(100vh - #{$navbar-height});
        overflow-y: scroll;

        background: $color-gray-medium;

        &::-webkit-scrollbar {
            background: none;
        }

        &::-webkit-scrollbar-thumb {
            background: #262626;
        }

        .item_list {
            background: $color-gray-light;
            margin: 2rem;

            box-shadow: $shadow-angle;

            .list_title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                background: $color-gray-deep;
                padding: 0.5rem 1rem;
                font-size: 1.3rem;
                font-weight: bold;
                text-transform: uppercase;

                box-shadow: $shadow-down;
            }

            .list_content {
                padding: 1rem;

                .table-responsive-sm {
                    margin: 0;
                }
            }
        }
    }

    .right_panel {
        background: $color-gray-dark;
        padding: 2rem;

        .item_title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: 1.3rem;
        }

        .item_details {
            //Todo
        }
    }

    .add_item_button {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: $button-size;
        height: $button-size;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background: $color-primary;
        color: $color-gray-deep;
        font-size: $button-size * 0.9;
        //line-height: $button-size;
        text-align: center;
        box-shadow: $shadow-angle;

        svg{
            display: block;
            transition-property: transform;
            transition-duration: 0.2s;
        }

        &:hover{
            cursor: pointer;
            background: $color-secondary;

            svg {
                transform: rotate(90deg);
            }
        }
    }
}

.icon:hover {
    cursor: pointer;
    color: $color-secondary;
}

//Override bootstrap
.table {
    color: #ffffff !important;
}

.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
