.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

#main_view {
    .header {
        background-color: #1a1a1a;
        color: white;
        height: 30px;

    }

    .background {
        background-color: #808080;
    }

    .column {
        background-color: #595959;

    }

    .title {
        background-color: #262626;
        color: #ffffff;
        height: 45px;
        margin-top: 25px;
        text-indent: 20px;

    }

    .list {
        background-color: #737373;
        margin-top: -8px;
        text-indent: 30px;
    }

    .detail {
        background: #9e9e9e;
        color: #ffffff;
    }

}
